.demoContainer {
    background-image: url('https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif');
    background-size: cover;
    background-position: center;
    overflow-x: scroll;
}

.generalCards {
    background-size: cover;
    background-position: center;
    overflow-x: scroll;
    height: 83vh;
    overflow-y: hidden;
}

.stylesCard {
    display: flex;
/*     overflow-x: scroll;*/
     white-space: nowrap;
    width: 200rem;
    padding: 15px;
    /* justify-content: center;
    position: absolute;
    margin-top: 10%; */
    background-size: cover;
    background-position: center;
    /* overflow-x: scroll; */
}

.singleCard {
    background-image: url('https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.favoriteButton {
    color: #f50057;
    font-size: 24px;
    bottom: 10px;
    right: 10px;
    outline: none;
}

.favoriteButton:active {
    color: #f1e2e2;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.vehicles {
    width: 100%;
    min-width: 12%
}
.character {
    width: 30rem;
    min-width: 10%;
}